In [34]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import scipy.stats as stats

from statsmodels.miscmodels.ordinal_model import OrderedModel

import statsmodels.api as sm

In [35]:
house_data = pd.read_csv('data/kc_house_data.csv')
house_data.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639

In [36]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [37]:
house_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [38]:
# ***********************************************************

In [39]:
house_id = house_data['id']
house_id.value_counts()

len(house_id.unique())

21420

In [40]:

# df.loc[df.id.isin([795000620])]

# 0 -- id -- variable name house

In [41]:
house = house_data['id']
house.value_counts()

795000620     3
1825069031    2
2019200220    2
7129304540    2
1781500435    2
             ..
7812801125    1
4364700875    1
3021059276    1
880000205     1
1777500160    1
Name: id, Length: 21420, dtype: int64

# 1--Date -- categorical -- (mostly by year?)

In [42]:
date = house_data['date']
date.value_counts()

6/23/2014     142
6/26/2014     131
6/25/2014     131
7/8/2014      127
4/27/2015     126
             ...
1/17/2015       1
7/27/2014       1
8/3/2014        1
5/15/2015       1
11/30/2014      1
Name: date, Length: 372, dtype: int64

# 2 -- price

In [43]:
price = house_data['price']
price.describe()

count    2.159700e+04
mean     5.402966e+05
std      3.673681e+05
min      7.800000e+04
25%      3.220000e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [44]:
bedrooms = house_data["bedrooms"]
bedrooms.value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [45]:
bathrooms = house_data["bathrooms"]
bathrooms.value_counts()

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
1.50    1445
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      71
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
5.75       4
0.50       4
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

# 5 -- sqft_living--living space in home

In [46]:
sqft_living = house_data["sqft_living"]
sqft_living.value_counts()

1300    138
1400    135
1440    133
1660    129
1010    129
       ...
4970      1
2905      1
2793      1
4810      1
1975      1
Name: sqft_living, Length: 1034, dtype: int64

# 6-- sqft_lot --

In [47]:
sqft_lot = house_data["sqft_lot"]
sqft_lot.value_counts()

5000      358
6000      290
4000      251
7200      220
7500      119
         ...
1448        1
38884       1
17313       1
35752       1
315374      1
Name: sqft_lot, Length: 9776, dtype: int64

In [48]:
floors = house_data["floors"]
floors.value_counts()

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: floors, dtype: int64

# 8 waterfront --YES(146)/NO(19075)-- 
price per acre of properties including a waterfront ? 
price per acre of properties including water front vs properties with highly rated views

In [49]:
waterfront = house_data["waterfront"]
waterfront.value_counts()

NO     19075
YES      146
Name: waterfront, dtype: int64

# 9 -- view -- categorical -- seems clean
price per acre of properties including water front vs properties with highly rated views

In [50]:
view = house_data["view"]
view.value_counts()

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

# 10 --Condtion -- categorical -- similar to grade

In [51]:
condition = house_data["condition"]
condition.value_counts()

Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

# 11 --Grade  -- categorical -- Similar to condition

In [52]:
grade = house_data['grade']
grade.value_counts()

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

# 14 -- year built

In [53]:
yr_built = house_data['yr_built']
yr_built.value_counts()

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

# 15 == Year renovated -- tons of nulls(zeros)--

In [54]:
yr_renovated = house_data['yr_renovated']
yr_renovated.value_counts()

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

# 16 --Zipcode -- Categorical

In [55]:
"""

Can be used to find most valuable areas
Area density vs price 

"""

'\n\nCan be used to find most valuable areas\nArea density vs price \n\n'

In [56]:
zipcode = house_data['zipcode']
zipcode.value_counts()

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

# 19 -- nearest15sqft  --- nearest 15 homes avg sqft -- seems clean
<br>
Can be used to identify areas with largest / smallest homes
.describe() .value_counts() .mean()

In [57]:
# nearest_15_sqft_home = house_data['sqft_living15']
# nearest_15_sqft.value_counts()
# nearest_15_sqft.describe()

# 20 -- sqft_lot15 -- Nearest 15 lots average sqft--

In [58]:
sqft_lot15 = house_data['sqft_lot15']
sqft_lot15.value_counts()

5000      427
4000      356
6000      288
7200      210
4800      145
         ...
11036       1
8989        1
871200      1
809         1
6147        1
Name: sqft_lot15, Length: 8682, dtype: int64

# END BASE EXPLORATION *** *** *** *** *** *** *** *** *** ***

In [59]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [60]:
house_data['yr_built'].describe()

count    21597.000000
mean      1970.999676
std         29.375234
min       1900.000000
25%       1951.000000
50%       1975.000000
75%       1997.000000
max       2015.000000
Name: yr_built, dtype: float64

# New column ** decadeBuilt -- all yr_built sorted by decade

In [62]:
df = house_data

conditions = [
    np.logical_and(df['yr_built'].ge(1900), pd.Series.lt(df['yr_built'], 1909)),
    np.logical_and(df['yr_built'].ge(1910), pd.Series.lt(df['yr_built'], 1919)),
    np.logical_and(df['yr_built'].ge(1920), pd.Series.lt(df['yr_built'], 1929)),
    np.logical_and(df['yr_built'].ge(1930), pd.Series.lt(df['yr_built'], 1939)),
    np.logical_and(df['yr_built'].ge(1940), pd.Series.lt(df['yr_built'], 1949)),
    np.logical_and(df['yr_built'].ge(1950), pd.Series.lt(df['yr_built'], 1959)),
    np.logical_and(df['yr_built'].ge(1960), pd.Series.lt(df['yr_built'], 1969)),
    np.logical_and(df['yr_built'].ge(1970), pd.Series.lt(df['yr_built'], 1979)),
    np.logical_and(df['yr_built'].ge(1980), pd.Series.lt(df['yr_built'], 1989)),
    np.logical_and(df['yr_built'].ge(1990), pd.Series.lt(df['yr_built'], 1999)),
    np.logical_and(df['yr_built'].ge(2000), pd.Series.lt(df['yr_built'], 2009)),
    np.logical_and(df['yr_built'].ge(2010), pd.Series.lt(df['yr_built'], 2019)),
]

outputs = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]

house_data['decadeBuilt'] = pd.Series(np.select(conditions,  outputs))
house_data['decadeBuilt'].value_counts()

2000    3285
1960    2378
0       2337
1950    2116
1980    1991
1990    1969
1970    1942
1940    1568
2010    1241
1920    1078
1910     717
1900     551
1930     424
Name: decadeBuilt, dtype: int64

In [ ]:
# goal ------ group homes by year built and sort by price and others things 
# can be used to create a bar plot, by year as x and others such as price as y 

decade_built_means = house_data.groupby((house_data.yr_built//10)*10).mean() #this works but outputs column means
decade_built_means

# sns.scatterplot(yr_built, price)

In [ ]:
sns.scatterplot(sqft_lot15, price)

In [ ]:
waterfront_group = house_data.groupby('waterfront').mean()
waterfront_group.head()

water front properties vs not water front 
<BR>
water front has higher average 
    PRICE ,
    BATHROOMS, 
    SQFT_LIVING,
    SQFT_LOT,
    FLOORS ,
    SQFT ABOVE, 
    SQFT LIVING 15, 
    SQFT LOT 15 ,

In [ ]:
# Data grouped by zipcode sorted by mean price in descending order
# shows zipcodes with highest prices 
sort_price_group_zipcode = house_data.groupby('zipcode').mean().sort_values(['price'], ascending = False)
sort_price_group_zipcode.head(1)

#

# Multiple linear regression

In [ ]:
"""
Steps 
need to make categories out of what are testing on,
combine all test data into 1 dataframe 
need to clean the data , remove all nulls 

split dependent variable x (df . (drop independant variable) .values)--
from independant variable(single column selector .values) as y 








"""

In [78]:
house_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'decadeBuilt'],
      dtype='object')

In [190]:
#Create test dataframe with all independant and one dependant variable 

test_data = house_data[['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
                        'sqft_above', 'yr_built', 'zipcode', 'sqft_living15', 'sqft_lot15','zipcode', 
                        'grade', 'price'
                       ]]

#id clean
# Drop id nulls and duplicates 

test_data['id'].dropna(inplace = True)
test_data.drop_duplicates(subset= 'id', keep='first', inplace=True, ignore_index = True)
####
# test_data.id.value_counts() # Removed all duplpicates in unique id column




# bedrooms already clean
test_data.drop(test_data.index[test_data['bedrooms'] >= 7], inplace = True)
# test_data['bedrooms'].value_counts()


#bathrooms clean
#remove all bathroom values less than 1

test_data = test_data[test_data.bathrooms >= 1.0]
test_data = test_data[test_data.bathrooms <= 4.5]
test_data['bathrooms'].dropna(inplace = True)
# ####
# test_data.bathrooms.describe()
test_data.bathrooms.value_counts()




# sqft living clean

# already clean
# test_data['sqft_living'].isna().sum()
# test_data.sqft_living = test_data.loc[(test_data.sqft_living < 5000)]


# test_data.sqft_living.describe()
# test_data.sqft_living.value_counts()


###


# sqft_lot clean

# test data clean
# test_data['sqft_lot'].isna().sum()
# test_data['sqft_lot'].value_counts()
### test_data.sqft_living = test_data.loc[(test_data.sqft_living < 5000)]
# test_data.sqft_lot.describe()
###



# floors

# test data clean

# test_data['floors'].isna().sum()
# test_data['floors'].head()
# test_data['floors'].value_counts()
# test_data.floors.describe()





# test data clean
# test_data['sqft_above'].isna().sum()
# test_data['sqft_above'].value_counts()
# test_data.sqft_above.describe()




# using basements would involve dropping half of all values --- removing basements from test data 

# # test data basements clean

# test_data['sqft_basement'].replace('?', '0.0')
# test_data['sqft_basement'].map(lambda value: float(value))
# # test_data['sqft_basement'].astype(float)
# # test_data['sqft_basement'].isna().sum()
# test_data['sqft_basement'].value_counts()
# # test_data.sqft_basement.describe()
# type(test_data['sqft_basement'][4])
# # test_data['sqft_basement'][54]




# test data clean yr_built good 

# test_data['yr_built'].isna().sum()
# test_data['yr_built'].value_counts()
# test_data.yr_built.describe()





# test data clean zipcodes good 
# test_data['zipcode'].isna().sum()
# test_data['zipcode'].value_counts()
# test_data.zipcode.describe()





# test data clean sqft_living good
# test_data['sqft_living15'].isna().sum()
# test_data['sqft_living15'].value_counts()
# test_data.sqft_living15.describe()


# sqft_lot15
# test data clean sqft_lot15 good
# test_data['sqft_lot15'].isna().sum()
# test_data['sqft_lot15'].value_counts()
# test_data.sqft_lot15.describe()



# sqft_lot15
# test data clean sqft_lot15 good
# test_data['grade'].isna().sum()
# test_data['grade'].value_counts()
# test_data.grade.describe()




# price
# test data clean price good
# test_data['price'].isna().sum()
# test_data['price'].value_counts()
# test_data.price.describe()

# *******************************************************************************
# def remove_outlier_iqr(col):
#     q1 = col.quantile(0.25)
#     q3 = col.quantile(0.75)
#     iqr = q3 - q1
#     col = col.loc[(col > (q1 - 1.5 * iqr))]
        
        
# test_data.sqft_living = remove_outlier_iqr(test_data.sqft_living)        
# reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]
# Q1 = df.quantile(0.25)
# 2Q3 = df.quantile(0.75)
# 3IQR = Q3 - Q1
# print(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))
# *******************************************************************************




test_data.bedrooms.describe()

/var/folders/yz/0dpd9f1x7vb0v9x4tcb5n1bh0000gn/T/ipykernel_20748/1365221673.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.drop_duplicates(subset= 'id', keep='first', inplace=True, ignore_index = True)
/Users/austinboring/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/var/folders/yz/0dpd9f1x7vb0v9x4tcb5n1bh0000gn/T/ipykernel_20748/1365221673.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['bathrooms'].dropna(inplace = True)

count    21207.000000
mean         3.359881
std          0.865341
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          6.000000
Name: bedrooms, dtype: float64

In [169]:
# sns.histplot(test_data.sqft_living)
# sns.boxenplot(test_data.sqft_living)
len(test_data.loc[(test_data.sqft_living > 4400)])
# test_data.sqft_above.std()
# sns.scatterplot(test_data.sqft_living, test_data.price)
# pd.plotting.scatter_matrix(test_data, figsize=(10,12));
test_data.sqft_above.quantile(.25)

1200.0

In [156]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21207 entries, 0 to 21418
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21207 non-null  int64
 1   bedrooms       21207 non-null  int64
 2   bathrooms      21207 non-null  float64
 3   sqft_living    21207 non-null  int64
 4   sqft_lot       21207 non-null  int64
 5   floors         21207 non-null  float64
 6   sqft_above     21207 non-null  int64
 7   yr_built       21207 non-null  int64
 8   zipcode        21207 non-null  int64
 9   sqft_living15  21207 non-null  int64
 10  sqft_lot15     21207 non-null  int64
 11  zipcode        21207 non-null  int64
 12  grade          21207 non-null  object
 13  price          21207 non-null  float64
dtypes: float64(3), int64(10), object(1)
memory usage: 2.4+ MB

In [ ]:
# test_data.grade.astype('category')
test_data.grade = test_data['grade'].astype("category")
# test_data['grade'].dtype
test_data.dtypes

In [71]:
test_data.grade

pandas.core.series.Series

In [72]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21346 entries, 0 to 21418
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21346 non-null  int64
 1   bedrooms       21346 non-null  int64
 2   bathrooms      21346 non-null  float64
 3   sqft_living    21346 non-null  int64
 4   sqft_lot       21346 non-null  int64
 5   floors         21346 non-null  float64
 6   sqft_above     21346 non-null  int64
 7   yr_built       21346 non-null  int64
 8   zipcode        21346 non-null  int64
 9   sqft_living15  21346 non-null  int64
 10  sqft_lot15     21346 non-null  int64
 11  grade          21346 non-null  object
 12  price          21346 non-null  float64
dtypes: float64(3), int64(9), object(1)
memory usage: 2.3+ MB

In [ ]:
test_data.grade = test_data['grade'].astype(cat_type)
cat_type = CategoricalDtype(categories=['4 Low', '5 Fair', '6 Low Average', '7 Average',
                                        '8 Good','9 Better', '10 Very Good', '11 Excellent',
                                        '12 Luxury', '13 Mansion'], ordered=True)

In [75]:
# Potentially better ? not entirely sure, believe i should be using sklearn
test_data.bedrooms = test_data['bedrooms'].astype('category')
test_data.bathrooms = test_data['bathrooms'].astype('category')
test_data.floors = test_data['floors'].astype('category')
test_data.yr_built = test_data['yr_built'].astype('category')
test_data.zipcode = test_data['zipcode'].astype('category')

In [77]:
test_data.

2014    559
2006    453
2005    450
2004    429
2003    420
       ...
1933     29
1901     29
1902     27
1935     24
1934     20
Name: yr_built, Length: 116, dtype: int64

# Machine learning for first regression fail

In [ ]:
# i think this here is getting into machine learning ? not a bad idea i guess 
# test_va is just test_data as an array
x = test_va[:, :-1]
y = test_va[:, -1]
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)